#DSN Kaggle Intercampusai2019 Machine Learning Competition

Author: Alamu Olawale Ahmed

CASE STUDY: YAKUB TRADING GROUP -  STAFF PROMOTION ALGORITHM

##Import The Necessary Libraries

In [1]:
%matplotlib inline
import pandas as pd 
import numpy as np
import sklearn as sk

##Load The Training and Testing Datasets

In [18]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

##Inspect The Datasets By Outputting The First Five Rows Using the df.head() Method

In [3]:
train.head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0
3,YAK/S/00004,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1982,2.5,2009,0,0,42,NIGER,Yes,Single,No,No,1,0
4,YAK/S/00006,Information and Strategy,First Degree or HND,Male,Direct Internal process,3,1990,7.5,2012,0,0,77,AKWA IBOM,Yes,Married,No,No,1,0

In [4]:
test.head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers
0,YAK/S/00005,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1976,7.5,2017,0,0,65,FCT,Yes,Married,No,No,1
1,YAK/S/00011,Information Technology and Solution Support,NaN,Male,Direct Internal process,2,1991,0.0,2018,0,0,69,OGUN,Yes,Married,No,No,1
2,YAK/S/00015,Research and Innovation,"MSc, MBA and PhD",Male,Direct Internal process,2,1984,7.5,2012,0,0,76,KANO,Yes,Married,No,No,1
3,YAK/S/00016,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1984,2.5,2009,0,0,52,RIVERS,No,Single,No,No,1
4,YAK/S/00017,Information Technology and Solution Support,First Degree or HND,Male,Agency and others,2,1983,7.5,2014,1,0,69,FCT,Yes,Married,No,No,0

##Check The Features of The Datasets By Outputting The Columns Names

In [5]:
train.columns

Index(['EmployeeNo', 'Division', 'Qualification', 'Gender',
       'Channel_of_Recruitment', 'Trainings_Attended', 'Year_of_birth',
       'Last_performance_score', 'Year_of_recruitment', 'Targets_met',
       'Previous_Award', 'Training_score_average', 'State_Of_Origin',
       'Foreign_schooled', 'Marital_Status', 'Past_Disciplinary_Action',
       'Previous_IntraDepartmental_Movement', 'No_of_previous_employers',
       'Promoted_or_Not'],
      dtype='object')

In [5]:
train.Marital_Status.value_counts()

Married     31022
Single       6927
Not_Sure      363
Name: Marital_Status, dtype: int64

In [7]:
train.groupby('Marital_Status')['Promoted_or_Not'].value_counts()

Marital_Status  Promoted_or_Not
Married         0                  28386
                1                   2636
Not_Sure        0                    324
                1                     39
Single          0                   6361
                1                    566
Name: Promoted_or_Not, dtype: int64

In [9]:
train.groupby('Gender')['Promoted_or_Not'].value_counts()

Gender  Promoted_or_Not
Female  0                  10414
        1                   1018
Male    0                  24657
        1                   2223
Name: Promoted_or_Not, dtype: int64

In [8]:
test.columns

Index(['EmployeeNo', 'Division', 'Qualification', 'Gender',
       'Channel_of_Recruitment', 'Trainings_Attended', 'Year_of_birth',
       'Last_performance_score', 'Year_of_recruitment', 'Targets_met',
       'Previous_Award', 'Training_score_average', 'State_Of_Origin',
       'Foreign_schooled', 'Marital_Status', 'Past_Disciplinary_Action',
       'Previous_IntraDepartmental_Movement', 'No_of_previous_employers'],
      dtype='object')

##Check The Dimension, Size and Lenght of The Datasets And Count The Rows In Each Columns

In [6]:
train.shape

(38312, 19)

In [10]:
test.shape

(16496, 18)

In [11]:
train.size

727928

In [12]:
test.size

296928

In [13]:
len(train)

38312

In [14]:
len(test)

16496

In [15]:
train.count()

EmployeeNo                             38312
Division                               38312
Qualification                          36633
Gender                                 38312
Channel_of_Recruitment                 38312
Trainings_Attended                     38312
Year_of_birth                          38312
Last_performance_score                 38312
Year_of_recruitment                    38312
Targets_met                            38312
Previous_Award                         38312
Training_score_average                 38312
State_Of_Origin                        38312
Foreign_schooled                       38312
Marital_Status                         38312
Past_Disciplinary_Action               38312
Previous_IntraDepartmental_Movement    38312
No_of_previous_employers               38312
Promoted_or_Not                        38312
dtype: int64

In [16]:
test.count()

EmployeeNo                             16496
Division                               16496
Qualification                          15766
Gender                                 16496
Channel_of_Recruitment                 16496
Trainings_Attended                     16496
Year_of_birth                          16496
Last_performance_score                 16496
Year_of_recruitment                    16496
Targets_met                            16496
Previous_Award                         16496
Training_score_average                 16496
State_Of_Origin                        16496
Foreign_schooled                       16496
Marital_Status                         16496
Past_Disciplinary_Action               16496
Previous_IntraDepartmental_Movement    16496
No_of_previous_employers               16496
dtype: int64

##Describe Features Of The Datasets Using The Descriptive Statistics Method df.describe()

In [17]:
train.describe().T

,count,mean,std,min,25%,50%,75%,max
Trainings_Attended,38312.0,2.253680,0.609443,2.0,2.0,2.0,2.0,11.0
Year_of_birth,38312.0,1986.209334,7.646047,1950.0,1982.0,1988.0,1992.0,2001.0
Last_performance_score,38312.0,7.698959,3.744135,0.0,5.0,7.5,10.0,12.5
Year_of_recruitment,38312.0,2013.139695,4.261451,1982.0,2012.0,2014.0,2016.0,2018.0
Targets_met,38312.0,0.352996,0.477908,0.0,0.0,0.0,1.0,1.0
Previous_Award,38312.0,0.023152,0.150388,0.0,0.0,0.0,0.0,1.0
Training_score_average,38312.0,55.366465,13.362741,31.0,43.0,52.0,68.0,91.0
Promoted_or_Not,38312.0,0.084595,0.278282,0.0,0.0,0.0,0.0,1.0

In [44]:
test.describe().T

,count,mean,std,min,25%,50%,75%,max
Trainings_Attended,16496.0,2.251455,0.608865,2.0,2.0,2.0,2.0,11.0
Year_of_birth,16496.0,1986.161130,7.708188,1958.0,1982.0,1988.0,1992.0,2001.0
Last_performance_score,16496.0,7.692016,3.734303,0.0,5.0,7.5,10.0,12.5
Year_of_recruitment,16496.0,2013.122393,4.273649,1986.0,2011.0,2014.0,2016.0,2018.0
Targets_met,16496.0,0.349600,0.476858,0.0,0.0,0.0,1.0,1.0
Previous_Award,16496.0,0.023218,0.150599,0.0,0.0,0.0,0.0,1.0
Training_score_average,16496.0,55.433863,13.392306,31.0,43.0,52.0,68.0,91.0

##Inspect The Missing Values

In [9]:
train.isna().sum().sum

<bound method Series.sum of EmployeeNo                                0
Division                                  0
Qualification                          1679
Gender                                    0
Channel_of_Recruitment                    0
Trainings_Attended                        0
Year_of_birth                             0
Last_performance_score                    0
Year_of_recruitment                       0
Targets_met                               0
Previous_Award                            0
Training_score_average                    0
State_Of_Origin                           0
Foreign_schooled                          0
Marital_Status                            0
Past_Disciplinary_Action                  0
Previous_IntraDepartmental_Movement       0
No_of_previous_employers                  0
Promoted_or_Not                           0
Age                                       0
dtype: int64>

In [19]:
test.isna().sum().sum

<bound method Series.sum of EmployeeNo                               0
Division                                 0
Qualification                          730
Gender                                   0
Channel_of_Recruitment                   0
Trainings_Attended                       0
Year_of_birth                            0
Last_performance_score                   0
Year_of_recruitment                      0
Targets_met                              0
Previous_Award                           0
Training_score_average                   0
State_Of_Origin                          0
Foreign_schooled                         0
Marital_Status                           0
Past_Disciplinary_Action                 0
Previous_IntraDepartmental_Movement      0
No_of_previous_employers                 0
dtype: int64>

##Add An Age Feature To The Data Sets

In [3]:
train['Age'] = 2019 - train['Year_of_birth']
test['Age'] = 2019 - test['Year_of_birth']
train.head()

,EmployeeNo,Division,Qualification,Gender,Channel_of_Recruitment,Trainings_Attended,Year_of_birth,Last_performance_score,Year_of_recruitment,Targets_met,Previous_Award,Training_score_average,State_Of_Origin,Foreign_schooled,Marital_Status,Past_Disciplinary_Action,Previous_IntraDepartmental_Movement,No_of_previous_employers,Promoted_or_Not,Age
0,YAK/S/00001,Commercial Sales and Marketing,"MSc, MBA and PhD",Female,Direct Internal process,2,1986,12.5,2011,1,0,41,ANAMBRA,No,Married,No,No,0,0,33
1,YAK/S/00002,Customer Support and Field Operations,First Degree or HND,Male,Agency and others,2,1991,12.5,2015,0,0,52,ANAMBRA,Yes,Married,No,No,0,0,28
2,YAK/S/00003,Commercial Sales and Marketing,First Degree or HND,Male,Direct Internal process,2,1987,7.5,2012,0,0,42,KATSINA,Yes,Married,No,No,0,0,32
3,YAK/S/00004,Commercial Sales and Marketing,First Degree or HND,Male,Agency and others,3,1982,2.5,2009,0,0,42,NIGER,Yes,Single,No,No,1,0,37
4,YAK/S/00006,Information and Strategy,First Degree or HND,Male,Direct Internal process,3,1990,7.5,2012,0,0,77,AKWA IBOM,Yes,Married,No,No,1,0,29

##Encode The Features With 'Yes/No' Into Numeric Using Scikit-learn LabelEncoder

In [22]:
from sklearn.preprocessing import LabelEncoder

lb = LabelEncoder() 
train['Foreign_schooled'] = lb.fit_transform(train['Foreign_schooled'])
train['Past_Disciplinary_Action'] = lb.fit_transform(train['Past_Disciplinary_Action'])
train['Previous_IntraDepartmental_Movement'] = lb.fit_transform(train['Previous_IntraDepartmental_Movement'])

test['Foreign_schooled'] = lb.fit_transform(test['Foreign_schooled'])
test['Past_Disciplinary_Action'] = lb.fit_transform(test['Past_Disciplinary_Action'])
test['Previous_IntraDepartmental_Movement'] = lb.fit_transform(test['Previous_IntraDepartmental_Movement'])

##Selected Features To Train The Model With

In [23]:
cols = ['Last_performance_score', 'Targets_met', 'Past_Disciplinary_Action', 'Foreign_schooled', 'Previous_IntraDepartmental_Movement']

##Train And Fit The Model

In [24]:
X = train[cols]
y = train['Promoted_or_Not']

In [37]:
from sklearn import linear_model
log = linear_model.LogisticRegression(class_weight=None, multi_class='multinomial', \
                                      solver='lbfgs', C=1e3, max_iter=100, tol=0.0001)
log.fit(X, y)

LogisticRegression(C=1000.0, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='multinomial', n_jobs=None, penalty='l2',
          random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
          warm_start=False)

##Use The Model To Predict The Test Data

In [38]:
t = test[cols]
predictions = log.predict(t)
predictions

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

##View The First Five Predictions

##Pack The Predictions Into A DataFrame

In [39]:
predicted = {'EmployeeNo':test['EmployeeNo'], 'Promoted_or_Not': predictions}
submission = pd.DataFrame(predicted)
submission.head()

    EmployeeNo  Promoted_or_Not
0  YAK/S/00005                0
1  YAK/S/00011                0
2  YAK/S/00015                0
3  YAK/S/00016                0
4  YAK/S/00017                0

In [40]:
submission.Promoted_or_Not.value_counts()

0    16496
Name: Promoted_or_Not, dtype: int64

##Export To A CSV File

In [60]:
export_csv = submission.to_csv('submission9.csv', index=False)